@font-face {
  font-family: TexGyreHeros;
  src: url("fonts/texgyreheros-regular.otf");
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

body {
  background-color: #ab5c20;
  font-family: TexGyreHeros;
}
.websiteContainer {
  margin: 16px;
  text-align: left;
  max-width: 500px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4px;
}
.grid-item {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  position: relative;
}

.grid-item:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.thumbnailContainer {
  margin-bottom: 64px;
}

.thumbnailImage {
  width: 20px;
}

.moduleLabel {
  position: absolute;
  bottom: 8px;
}

.moduleItemCount {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.navigation {
  position: sticky;
  top: 20px;
  border: 1px solid black;
  height: 20px;
  max-width: 500px;
  padding: 8px;
  background-color: #ab5c20;
  z-index: 2;
  margin-bottom: 36px;
}

.navigationLeft {
  float: left;
}

.navigationRight {
  float: right;
}

@media only screen and (min-width: 600px) {
}
