@font-face {
  font-family: TexGyreHeros;
  src: url("fonts/texgyreheros-regular.otf");
}

@font-face {
  font-family: TimesNewerRoman;
  src: url("fonts/TimesNewerRoman-Regular.otf");

}

* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

body {
  background-color: #ab5c20;
  font-family: TexGyreHeros;
}
.websiteContainer {
  margin: 20px;
  text-align: left;
  max-width: 500px;
  margin-bottom: 100px;

}

.fadeEffect {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: #ab5c20;
  box-shadow: 0px 20px 20px #ab5c20;
}

.nameTitle {
  position: sticky;
  top: 20px;
  z-index: 3;
  margin-bottom: 36px;
  font-size: 14px;
  border: 1px solid black;
  padding: 8px;

}

.nameTitle:hover {
  cursor: pointer;
}

.displayText {
  text-align: center;
  font-size: 22px;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 30px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;

}

.pageTitle {
  width: 100%;
  font-size: 12px;
  margin-bottom: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4px;
  margin-bottom: 36px;
}
.grid-item {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  position: relative;
}

.grid-item:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.thumbnailContainer {
  margin-bottom: 64px;
}

.thumbnailImage {
  width: 20px;
}

.moduleLabel {
  position: absolute;
  bottom: 8px;
}

.moduleItemCount {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.navigationLeft {
  float: left;
}

.navigationRight {
  float: right;
}

.collapsibleContainer {
  border: 1px solid black;
  margin-bottom: 8px;
}

.collapsible {
  background-color: #ab5c20;
  color: black;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 14px;
  border: none;

}

.active, .collapsible:hover {
  background-color: black;
  color: white;
}

.collapsible:after {
  color: black;
  float: right;
}

.active:after {
  color: white;
}

.content {
  padding-left: 12px;
  padding-right: 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: black;
  color: white;
}
.collapsibleText {
  margin-bottom: 16px;
}
